.accueil{
    background: linear-gradient(to bottom right, $color1, $color3)
}

.projet{
    background: linear-gradient(to bottom right, $color1, $color2)
}

.a_propos{
    background: linear-gradient(to bottom right, $color3, $white)
}

.contact{
    background: linear-gradient(to bottom right, $color4, $color5)
}