    .navbar-brand{
        font-family: "Dancing Script", serif;
        font-size: 30px;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        &:hover {
        animation: flashOpacity 0.5s ease-in-out; 
        }

    // Définition de l'animation flashOpacity
        @keyframes flashOpacity {
        10% { opacity: 1; }
        50% { opacity: 0; }
        100% { opacity: 1; }
        }
    }

    .nav-link{
        display: flex;
        gap: 50px;
    }

.accueil{
    background: linear-gradient(to bottom right, $color1, $color3)
}

.overlay-text {
    opacity: 0;
    transition: opacity 0.3s ease;

    /* Rendre l'élément visible lorsque la carte est survolée */
    .card:hover & {
        opacity: 0.8;
    }
}

